<%- include("../partials/header", {isAuthenticated: false}) -%>

    <div class="col-md-4 mx-2 mx-md-auto my-5">

        <h1 class="text-center">Sign Up</h1>
        <!-- display error if any while submitting the form -->
        <% if(error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
            <!-- sign-up form section -->
            <div class="container-centre">
                <form class="edit-form" action="/sign-up" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="sign-up-place">First Name</label>
                        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="text" name="firstName"
                            autocomplete="off" value="<%= data.firstName %>" required></input>
                    </div>
                    <div class="form-group">
                        <label class="sign-up-place">Last Name</label>
                        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="text" name="lastName"
                            autocomplete="off" value="<%= data.lastName %>" required></input>
                    </div>
                    <div class="form-group">
                        <label class="sign-up-place">Your Username</label>
                        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="text" name="userName"
                            autocomplete="off" value="<%= data.userName %>" required></input>
                    </div>
                    <div class="form-group">
                        <label class="sign-up-place">Your Email</label>
                        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="email" name="email"
                            autocomplete="off" value="<%= data.email %>" required></input>
                    </div>
                    <div class="form-group">
                        <label class="sign-up-place">Password</label>
                        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="password" id="password" name="password"
                            autocomplete="off" value="<%= data.password %>" required></input>
                        <span class="password-icon"><i class="fa fa-eye" id="eye" onclick="togglePassword()"></i></span>
                    </div>
                    <div class="form-group">
                        <label class="sign-up-place">Confirm Password</label>
                        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="password" id="confirmPassword" name="confirmPassword"
                            autocomplete="off" value="<%= data.confirmPassword %>" required></input>
                        <span class="password-icon"><i class="fa fa-eye" id="eye2" onclick="togglePassword('confirmPassword','eye2')"></i></span>
                    </div>
                    <div class="form-group">
                        <label for="photo">Choose Profile Image (Optional)</label>
                        <input type="file" name="photo" id="photo" />
                    </div>
                    <div class="form-group">
                        <div
                          class="g-recaptcha"
                          data-sitekey="6LecnfAaAAAAADRqRZXUK4i16u0fncY0ZabpnbBf"
                        ></div>
                    </div>
                    <div class="registrationFormAlert" style="color:red;" id="CheckPasswordMatch"></div>
                    <div class="text-center">
                        Already a User? <a href="/log-in">Log In</a>
                    </div>
                    <button class="btn btn-primary log-in-btn" type="submit" name="sign-up">Sign Up</button>
                </form>
            </div>
    </div>
    <script type="text/javascript" src="/js/checkPasswordMatch.js" defer></script>
    <script type="text/javascript" src="/js/showHidePassword.js"></script>
<%- include("../partials/footer") -%>