<div class="row">
    <% posts.forEach(function (post) { %>
        <div class="post-preview col-md-5 mx-2 mx-md-auto py-3 my-3">
            <div class="my-1">
                <a href="/author/<%= post.author._id %> " class="mb-4" style="font-size: 22px;font-weight: bold;">
                    <i class="fas fa-user"></i>
                    <%= post.author.userName %> 
                </a>
            </div><hr>
            <h1 style="font-size: 2.4rem;font-weight: bold;"> <%= post.blogTitle %> </h1>
            <p class="post-date-font">Posted on <%= moment(new Date(post.timestamps)).format("dddd, MMMM Do YYYY, h:mm:ss a") %> </p>
            <% if (post.category) { %>
                <div class="badge badge-pill badge-danger py-1 px-2">
                    <%= post.category %> 
                </div>
            <% } %>
            <div class="mt-2">
                <a href="/posts/<%= post._id %>"><button class="button read">Read</button></a>
                <i class="fa fa-comment fa-2x" style="float: right;" aria-hidden="true"><%= post.comments.length %></i>
            </div>
            
        </div>
    <% }); %>
</div>