<%- include("../partials/header", {isAuthenticated}) -%>

<div class="col-md-6 mx-2 mx-md-auto my-2 content-body-font">
    <h1 class="heading-centre heading-bold normal-heading-font">Contact Us</h1>
    <p class="alert alert-success"> <%= contactContent %> </p> 

    <% if(error) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    <% } %>

    <!-- contact form section -->
    <form action="/contact" method="POST" class="mt-4 my-4">
        <div class="form-group">
            <label>Your Email:</label>
            <input class="form-control col-md-12 col-sm-12 col-xs-12" type="email" name="email" placeholder="Your Email" autocomplete="off" value="<%= formData.email %>" required autofocus></input>
        </div>
        <div class="form-group">
            <label>Subject:</label>
            <input class="form-control col-md-12 col-sm-12 col-xs-12" type="text" name="subject" placeholder="Subject" autocomplete="off" value="<%= formData.name %>" required></input>
        </div>
        <div class="form-group">
            <label>Message:</label>
            <textarea class="form-control col-md-12 col-sm-12 col-xs-12" rows="6" name="message" placeholder="Your Message" value="<%= formData.message %>" required></textarea>
        </div>
        <button class="btn btn-primary block" type="submit" size="50dp">Send</button>
    </form>
</div>

<%- include("../partials/footer") -%>