<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%= homeStartingContent %> </p> 

<% for(i=0; i < posts.length; i++){ %>
    <div class="post">
        <h1> <%= posts[i].title %> </h1>
        <p> <%= posts[i].content %> </p>
    </div>
<% } %>

<%- include("partials/footer") -%>