<%- include("partials/header") -%>

<h1>Home</h1>
<p> <%= homeStartingContent %> </p> 

<% posts.forEach(function (post) { %>
    <div class="post">
        <h1> <%= post.title %> </h1>
        <p> <%= post.content.substring(0,100) + ("...") %> 
            <span><a href="posts/ + <%= post.title %>" >Read More</a></span>
        </p>
    </div>
<% }); %>

<%- include("partials/footer") -%>