<%- include("partials/header", {isAuthenticated: false}) -%>

    <div style="margin-top: 11vh;">

        <% if(error) { %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
            <% } %>
  
            <div class="row main-form">
                <div class="col-md-6 mx-auto p-0">
                    <div class="card">
                        <div class="login-box">
                            <form action="/log-in" method="POST">
                            <div class="login-snip"> <input id="tab-1" type="radio" name="tab" class="sign-in"
                                    checked><label for="tab-1" class="tab">Login</label> <input id="tab-2"
                                    type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab"> <a
                                        href="/sign-up"></a>Sign Up</a></label>
                                
                                    <div class="login-space">
                                        <div class="login">
                                            <div class="group"> <label for="user" class="label">Username</label>
                                                <input id="user" type="text" class="input"
                                                   value="<%= data.userName %>" required name="userName" placeholder="Enter your username">
                                            </div>
                                            <div class="group"> <label for="pass" class="label">Password</label>
                                                <input id="pass" type="password" class="input" data-type="password"
                                                value="<%= data.password %>" required name="password"  placeholder="Enter your password">
                                            </div>
                                            <div class="group"> <input type="submit" class="button" value="Sign In">
                                            </div>
                                            <div class="hr"></div>
                                        </div>
                                    </form>

                                    <form action="/sign-up" method="POST" ">
                                        <div class="sign-up-form">
                                            <div class="group"> <label for="user" class="label">First Name</label> <input
                                                   name="firstName" id="user" type="text" class="input" placeholder="Create your Username" value="<%= data.firstName %>" required>
                                            </div>
                                            <div class="group"> <label for="user" class="label">Last Name</label> <input
                                                   name="lastName" id="user" type="text" class="input" placeholder="Create your Username" value="<%= data.lastName %>" required>
                                            </div>
                                            <div class="group"> <label for="user" class="label">Username</label> <input
                                                   name="userName" id="user" type="text" class="input" placeholder="Create your Username" value="<%= data.userName %>" required>
                                            </div>
                                            <div class="group"> <label for="pass" class="label">Email Address</label> <input
                                               name="email" id="pass" type="text" class="input"
                                                placeholder="Enter your email address" value="<%= data.email %>" required> </div>
                                            <div class="group"> <label for="pass" class="label">Password</label> <input
                                                   name="password" id="pass" type="password" class="input" data-type="password"
                                                    placeholder="Create your password" value="<%= data.password %>" required> </div>
                                            
                                            <div class="group"> <input type="submit" class="button" value="Sign Up"> </div>
                                            <div class="hr"></div>
                                        </div>
                                    </form>
                            

                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
<form action="/log-in" method="POST">
    <div class="form-group">
        <label>Your Username</label>
        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="text" name="userName" autocomplete="off" value="<%= data.userName %>" required>
    </div>
    <div class="form-group">
        <label>Password</label>
        <input class="form-control col-md-12 col-sm-12 col-xs-12" type="password" name="password" autocomplete="off" value="<%= data.password %>" required>
    </div>
    <div class="text-center">
        New User? <a href="/sign-up">Sign Up</a>
    </div>
    <button class="btn btn-primary log-in-btn" type="submit" name="log-in">Log In</button>
</form>

    </div>

    <%- include("partials/footer") -%>