<%- include("partials/header", {isAuthenticated}) -%>
<div class="container-centre">
    <h1 class="heading-bold heading-centre post-heading"> <%= title %> </h1>
         <%- content %>

    <!-- If this user is the author then only render the delete button-->
    <% if(isAuthor){ %>
        <div style="display: flex;">
            <a role="button" type="submit" class="btn btn-warning" href="/posts/<%=id%>/edit" style="height:37px;margin-right: 10px; width:15em;background: var(--color-secondary);font-family: Montserrat, sans-serif;border-radius:0;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border:3px solid #fff;font-size: 1.4rem;">Edit <i class="fa fa-edit"></i></a>    
            <form  action="/posts/<%=id%>/delete" method="post" >
                <button class="button  del" type="submit">Delete</button>
            </form>
        </div>
    <% } %>
    
    <!-- number of comments -->
    <h2 class="normal-heading-font" style="font-weight: 600; margin-top: 6vh; margin-bottom: 3vh;"> <%= comments.length %> <% if(comments.length>1 || comments.length===0) { %> comments <% } else  {%> comment <% } %></h2>

    <!-- display all comments section -->
    <% for(var i=0; i<comments.length; i++) { %>
        <div class="comment"> 
            <h4><strong><%= comments[i].name %></strong></h4>
            <p class="post-date-font"><%= new Date(comments[i].timestamps*1000) %></p>
            <hr/>
            <%- comments[i].content %>
            <form  action="/posts/<%=id%>/comments/<%=i%>" method="post">
                <button class="button  del" type="submit">Delete</button>
            </form>
        </div>
    <% } %>

    <!-- add comment section -->
    <h3 class="normal-heading-font" style="font-weight:600;">Add a comment</h3>
    <form action="/posts/<%=id%>/comment" method="POST" style="margin-bottom: 3vh;">
        <div class="form-group">
            <label>Content</label>
            <textarea name="content" ></textarea>
            <script>
                window.onload = function() {
                   CKEDITOR.replace('content');
                };
            </script>
        </div>
        <button class="button commenting" type="submit" name="publish">Post comment</button>
    </form>
    
</div>
<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>

<%- include("partials/footer") -%>

