<%- include("partials/header", {isAuthenticated}) -%>
<div class="container-centre">
    <h1 class="heading-bold heading-centre post-heading"> <%= title %> </h1>
         <%- content %>

    <!-- If this user is the author then only render the delete button-->
    <% if(isAuthor){ %>
        <form  action="/posts/<%=title%>" method="post" >
            <button class="button  del" type="submit">Delete</button>
        </form>
    <% } %>
    
    <h2 class="normal-heading-font" style="font-weight: 600; margin-top: 6vh; margin-bottom: 3vh;"> <%= comments.length %> <% if(comments.length>1 || comments.length===0) { %> comments <% } else  {%> comment <% } %></h2>
    <% for(var i=0; i<comments.length; i++) { %>
        <div class="comment"> 
            <h4><strong><%= comments[i].name %></strong></h4>
            <p class="post-date-font"><%= new Date(comments[i].timestamps*1000) %></p>
            <hr/>
            <%- comments[i].content %>
            <form  action="/posts/<%=title%>/comments/<%=i%>" method="post">
                <button class="button  del" type="submit">Delete</button>
            </form>
        </div>
    <% } %>
    <span style="position:absolute;top:180px ;left: 480px;">
        <% if (likes.includes(currentUser._id)) { %>
            <i class="like fa fa-2x fa-heart" data-post-id="<%=id%>"></i>
        <% }else{ %>
            <i class="like fa fa-2x fa-heart-o" data-post-id="<%=id%>"></i> 
         <% } %>
        <span class="likeCounter"><%=likes.length%></span>
    </span>
    
    <h3 class="normal-heading-font" style="font-weight:600;">Add a comment</h3>
    <form action="/posts/<%=title%>/comment" method="POST" style="margin-bottom: 3vh;">
        <div class="form-group">
            <label>Content</label>
            <textarea name="content" ></textarea>
            <script>
                window.onload = function() {
                   CKEDITOR.replace('content');
                };
            </script>
        </div>
        <button class="button commenting" type="submit" name="publish">Post comment</button>
    </form>
</div>
<script src="https://cdn.ckeditor.com/4.11.1/standard/ckeditor.js"></script>
<script>
    let LikeBtn = document.querySelector('.like');
    let likeCounter = document.querySelector('.likeCounter');
    LikeBtn.addEventListener('click', function(e){
        if(e.target.classList.contains('fa-heart-o')){
        fetch('/like',{  method: 'PUT', 
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({postId : e.target.dataset.postId})})
            .then(response =>  {
                likeCounter.innerText = parseInt(likeCounter.innerText)+1;
                e.target.classList.remove("fa-heart-o");
                e.target.classList.add("fa-heart")})
            .catch(err => console.log(err))
        }
        else{
        fetch('/unlike',{  method: 'PUT',
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify({postId : e.target.dataset.postId})})
            .then(response => {
                likeCounter.innerText = parseInt(likeCounter.innerText)-1;
                e.target.classList.remove("fa-heart");
                e.target.classList.add("fa-heart-o")})
            .catch(err => console.log(err))
        }
    });
   
</script>

<%- include("partials/footer") -%>

