<%- include("../partials/header", {isAuthenticated}) -%>
    <div class="container">
        <div class="row my-4">
            <div class="col-lg-10 mx-2 mx-md-auto card p-0">
                <%# Display author's name %>
                    <div class="card-header text-center">
                        <%# Display author's profile %>
                        <img src="<%= user.photo %>" class="img-thumbnail mx-auto profile-img" alt="User Profile Image">
                        <h4>AUTHOR: <%= user.firstName %>
                                <%= user.lastName %>
                        </h4>
                        <h6>@<%= user.userName %>
                        </h6>
                        <ul class="navbar-nav ml-md-auto align-items-center">
                            <li class="nav-item">
                                <a class=" text-info " style="cursor:pointer">
                                    <%= user.followers.length %> followers
                                </a> |
                                <a class=" text-info" style="cursor:pointer">
                                    <%= user.following.length %> following
                                </a> |
                                <% if (toggleunfollow) { %>
                                    <a href="/unfollow/<%= user._id %>">
                                    <button class="btn btn-info btn-sm text-white ">Unfollow</button></a>
                                <% }else { %>
                                    <a href="/follow/<%= user._id %>">
                                    <button class="btn btn-info btn-sm text-white ">Follow</button></a>
                                <% } %>
                            </li>
                        </ul>
                    </div>
                    
                    <div class="card-body row accordion p-2" id="accordionExample">
                        <div class="col-md-6 mx-md-auto mx-2 d-flex align-items-center justify-content-center">
                            <div class="accordion-item">
                              <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <%= user.firstName %>'s Blogs
                                </button>
                              </h2>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="headingTwo">
                                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Liked Blogs
                                  </button>
                                </h2>
                            </div>
                        </div>
                        <div class="col-lg-12 mx-md-auto mx-2">
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <%# Check if there are posts for requested categories... %> 
                                    <%if (posts.length) { %>
                                        <%# If there are posts(length>=1) then display them through looping %> 
                                        <%- include("../partials/posts", {posts}) -%>
                                        <%# If there are no posts(length=0) then display no blogs found %> 
                                    <% } else { %>
                                        <p class="mx-auto text-danger text-center">No Blogs Found...</p> 
                                    <%}%>
                                </div>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <%# Check if there are posts for requested categories... %> 
                                    <%if (likedBlogs.length) { %>
                                        <%# If there are posts(length>=1) then display them through looping %> 
                                        <%- include("../partials/posts", {posts:likedBlogs}) -%>
                                        <%# If there are no posts(length=0) then display no blogs found %> 
                                    <% } else { %>
                                        <p class="mx-auto text-danger text-center">No Blogs Found...</p> 
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
<%- include("../partials/footer") -%>