<%- include("../partials/header", {isAuthenticated}) -%>


<div class="container-fluid">
    <div class="row my-4">
        <div class="col-lg-11 card bg-light mx-2 mx-lg-auto card p-0">      
            <%# Display author's name %> 
            <div class="card-header text-center">
                <%# Display author's profile %>
                <img src="<%= user.photo %>" class="img-thumbnail mx-auto profile-img" alt="User Profile Image">
                <h4>
                    <a href="/read-profile" class="text-decoration-none primary-font">
                        <%= user.firstName %> <%= user.lastName %> 
                        <i class="fas fa-user-edit pl-3"></i>
                    </a>
                </h4>
                <h6>@<%= user.userName %></h6>

                    <%# Followers and Following section using accoridian %> 
                <div class="accordion" id="accordionfollow">

                    <div class="col-md-6 mx-md-auto mx-2 d-flex align-items-center justify-content-center"> 
                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFollowers">
                                <div class="accordion-button primary-font" style="cursor:pointer" data-bs-toggle="collapse" data-bs-target="#collapseFollowers" aria-expanded="false" aria-controls="collapseFollowers"  ><%= user.followers.length %> followers</div> 
                            </h2>
                        </div>

                        
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingFollowing">
                                <div class="accordion-button primary-font" style="cursor:pointer" data-bs-toggle="collapse" data-bs-target="#collapseFollowing" aria-expanded="false" aria-controls="collapseFollowing"  ><%= user.following.length %> following</div> 
                            </h2>
                            
                        </div>    
                    </div>    
                  
                    <%# Followers list  %> 
                    <div id="collapseFollowers" class="accordion-collapse collapse" aria-labelledby="headingFollowers" data-bs-parent="#accordionfollow"  >
                        <div class="col-lg-12 mx-md-auto mx-2">
                            <div class="accordion-body">
                                <%# Check if there are followers for the current user %> 
                                <%if (user.followers.length) { %>
                                    <%# If there are followers(length>=1) then display them through looping %> 
                                    <h5>Your Followers</h5> 
                                    <% user.followers.forEach((followerid) => { %>
                                        <% allusers.forEach((user) => { %>
                                            <% if( String(followerid) === String(user._id) ){ %>                                                
                                                <ul style="list-style-type: none;">
                                                    <li> <a class="text-success font-weight-bold" href= "/author/<%= followerid %>"> @<%= user.userName %></a></li>  
                                                </ul>                                            
                                            <% } %>
                                        <% }) %>
                                    <% }) %>
                                    
                                    <%# If there are no followers(length=0) then display no followers found %> 
                                <% } else { %>
                                    <p class="mx-auto text-danger text-center">No followers found!!</p> 
                                <%}%>
                            </div>
                        </div>
                    </div>

                    <%# Following list  %> 
                    <div id="collapseFollowing" class="accordion-collapse collapse" aria-labelledby="headingFollowing" data-bs-parent="#accordionfollow"  >
                        <div class="col-lg-12 mx-md-auto mx-2">
                            <div class="accordion-body">
                                <%# Check if there are followings for the current user %> 
                                <%if (user.following.length) { %>
                                    <%# If there are following(length>=1) then display them through looping %> 
                                    <h5>Your Followings</h5> 
                                    <% user.following.forEach((followingid) => { %>
                                        <% allusers.forEach((user) => { %>
                                            <% if( String(followingid) === String(user._id) ){ %>                                                
                                                <ul style="list-style-type: none;">
                                                    <li> <a class="text-success font-weight-bold" href= "/author/<%= followingid %>"> @<%= user.userName %></a></li>  
                                                </ul>                                            
                                            <% } %>
                                        <% }) %>
                                    <% }) %>
                                    <%# If there are no following(length=0) then display no following found %> 
                                <% } else { %>
                                    <p class="mx-auto text-danger text-center">No followings found!!</p> 
                                <%}%>
                            </div>
                        </div>
                    </div>

                </div>
                    
            </div>
           
           


            <div class="card-body row accordion p-2" id="accordionExample">
                <div class="col-md-6 mx-md-auto mx-2 d-flex align-items-center justify-content-center">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          All Blogs
                        </button>
                      </h2>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Public Blogs
                        </button>
                      </h2>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Private Blogs
                          </button>
                        </h2>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Liked Blogs
                          </button>
                        </h2>
                    </div>
                </div>
                <div class="col-lg-12 mx-md-auto mx-2">
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <%# Check if there are posts for requested categories... %> 
                            <%if (posts.length) { %>
                                <%# If there are posts(length>=1) then display them through looping %> 
                                <%- include("../partials/posts", {posts}) -%>
                                <%# If there are no posts(length=0) then display no blogs found %> 
                            <% } else { %>
                                <p class="mx-auto text-danger text-center">No Blogs Found...</p> 
                            <%}%>
                        </div>
                    </div>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <%# Check if there are posts for requested categories... %> 
                            <%if (posts.length) { %>
                                <%# If there are posts(length>=1) then display them through looping %> 
                                <%- include("../partials/posts", {posts:posts.filter(post=>post.status==="Public")}) -%>
                                <%# If there are no posts(length=0) then display no blogs found %> 
                            <% } else { %>
                                <p class="mx-auto text-danger text-center">No Blogs Found...</p> 
                            <%}%>
                        </div>
                    </div>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <%# Check if there are posts for requested categories... %> 
                            <%if (posts.length) { %>
                                <%# If there are posts(length>=1) then display them through looping %> 
                                <%- include("../partials/posts", {posts:posts.filter(post=>post.status==="Private")}) -%>
                                <%# If there are no posts(length=0) then display no blogs found %> 
                            <% } else { %>
                                <p class="mx-auto text-danger text-center">No Blogs Found...</p> 
                            <%}%>
                        </div>
                    </div>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <%# Check if there are posts for requested categories... %> 
                            <%if (likedBlogs.length) { %>
                                <%# If there are posts(length>=1) then display them through looping %> 
                                <%- include("../partials/posts", {posts:likedBlogs}) -%>
                                <%# If there are no posts(length=0) then display no blogs found %> 
                            <% } else { %>
                                <p class="mx-auto text-danger text-center">No Blogs Found...</p> 
                            <%}%>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include("../partials/footer") -%>