<%- include("../partials/header", {isAuthenticated, user, blogs}) -%>
    <div class="container">
        <h1>Edit Profile</h1>
        <hr>
        <div class="row">
            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                <h3>Personal info</h3>
                <form class="form-horizontal" role="form" method='post' action="/read-profile" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="firstName" >First name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" for="firstName" name="firstName" value="<%= user.firstName %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="lastName">Last name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" for="lastName" name="lastName" value="<%= user.lastName %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="userName">User name:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" for="userName" name="userName" value="<%= user.userName %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label" for="email">Email:</label>
                        <div class="col-lg-8">
                            <input class="form-control" type="text" for="email" value="<%= user.email %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-8 control-label" for="photo">Profile Picture(Leave empty if you don't want to update profile picture)</label>
                        <div class="col-lg-8">
                            <input type="file" name="photo">
                        </div>
                    </div>
                    <p>
                        <h2>Please enter the old password to confirm changes or new password to change the password.</h2>
                    </p>
                    <div class="form-group">
                        <label class="col-md-3 control-label" for="password">Password:</label>
                        <div class="col-md-8">
                            <input class="form-control" type="password" name="password" id="password">
                            <span class="password-icon pb-3 pr-3"><i class="fa fa-eye" id="eye" onclick="togglePassword()"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <input type="submit" class="btnFrame button px-4" value="Save Changes">
                            <span></span>
                            <input type="reset" class="button button-cancel px-4" value="Cancel">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
    <script type="text/javascript" src="/js/showHidePassword.js"></script>
<%- include("../partials/footer") -%>